.list {
    width: 10rem;
    text-align: center;
}

.image {
    height: 4rem;
    width: 6rem;
    object-fit: cover;
}

.list__title{
    margin: 0.5rem 0;
}

.list__article {
    font-size: 0.9rem;
}